<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CDN  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Authentications</title>
    <style>
      body {
        font-family: 'Recursive', sans-serif;
        font-size: larger;
      }

      .customborder {
        border-radius: 2%;
        border: 2px solid #e95420;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center p-3">Register Yourself</h1>
      <div
        style="margin: 0 auto"
        class="col-12 col-md-6 col-lg-5 p-5 customborder"
      >
        <% if(typeof err !='undefined' ){ %>
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong> Error </strong>
          <%= err %>.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% } %>

        <form action="/api/auth/admin/signup" method="post">
          <input type="hidden"/>
          <div class="mb-3">
            <label for="email">Enter Your Email</label>
            <input
              type="email"
              class="form-control form-control-lg"
              name="email"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <label for="username">Choose A fullName</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="fullName"
              id="fullName"
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <label for="password">Choose A Password</label>
            <input
              type="password"
              class="form-control form-control-lg"
              name="password"
              id="password"
              placeholder="Password"
            />
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02" />
            <label class="input-group-text" for="inputGroupFile02"
              >Upload</label
            >
          </div>

          <div class="d-grid gap-3 mb-3">
            <input
              type="submit"
              class="btn btn-lg btn-outline-primary"
              value="Register"
            />
            <a class="btn btn-lg btn-success" href="">Continue With Google</a>
          </div>
          <p>
            Already Registered ?
            <a class="card-link" href="/login">LOGIN Here</a>
          </p>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
